<!--<div class="modal-header">-->
<!--<h4 class="modal-title">Bepaal hier hoeveel Winddelen u kunt aanschaffen om niet over te produceren.</h4>-->
<!--</div>-->
<div class="modal-body col-md-12">
  <h4 class="modal-title">Archive</h4>
  <div class="container">
    <div class="col-md-12">
      <!--<div class="col-md-6 col-lg-6">-->
        <!--<div class="panel panel-danger calendar">-->
          <!--<div class="panel-heading">-->

            <!--<h4>Cashbook archive calendar</h4>-->
            <!--<div class="options">-->

            <!--</div>-->
          <!--</div>-->
          <!--<div class="panel-body">-->
            <!--<div ng-if="loaded" data-full-calendar="{ events: cashbookEvents }" id="calendar"></div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->

      <div class=" col-md-9 panel-chat well" id="chat" scroll-to-bottom="messages.length + elizaTyping">
        <div class="chat-message chat-success" ng-repeat="event in snapshots">
          <!--<div class="chat-contact">-->
            <!--<img src="assets/demo/avatar/potter.png" alt="">-->
          <!--</div>-->
          <div class="chat-text">
            <a ng-click="redirect(event)">{{event.title}} goes from {{event.start | date: 'dd-MMMM-yyyy'}} till {{event.end | date: 'dd-MMMM-yyyy'}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- container -->
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="ok()">OK</button>
</div>
