
<div class="modal-body col-md-12">
  <h4 class="modal-title">Select Bank</h4>
  <div class="row">

  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="ok()">OK</button>
</div>
