
<div class="modal-body col-md-12">
  <h4 class="modal-title">Cumulative Sell</h4>
  <div class="row">
    <div class="col-md-offset-2">
      <div class="form-group">
        <label>Cumulative Balance: </label>
        <span>฿ {{cumulativeBalance.cumulativeBalanceBtc}} / $ {{cumulativeBalance.cumulativeBalanceUsd}}</span>
      </div>
      <div class="form-group">
        <label>Quote: </label>
        <span>
          $/฿: 223
        </span>
      </div>
      <form class="form" name="form" novalidate>
        <div ng-repeat="wallet in wallets">
          <div class="form-group" ng-class="{ 'has-success': form.name.$valid && submitted,
                                                  'has-error': form.name.$invalid && submitted }">
            <label>Wallet: </label>

            <span>{{wallet.label}} / {{wallet.btcAddress}}</span>
            <p class="help-block" ng-show="form.name.$error.required && submitted">
              At least one recipient is required
            </p>
          </div>

          <div class="form-group">
            <label>sell amount: </label>
            <label class="form-group">
              <span class="input-label">฿</span>
              <input type="number" ng-model="wallet.sellAmountBtc" ng-change="updateAmountUsd(wallet)" min="0" placeholder="0" aria-label="amount">
            </label>
            <label class="item item-input">
              <span class="input-label">$</span>
              <input type="number"  ng-model="wallet.sellAmountUsd" ng-change="updateAmountBtc(wallet)" min="0" placeholder="0" aria-label="amount">
            </label>

          </div>
          <div class="form-group">
            <label> on account: </label>
            <label class="form-group">
              <span class="input-label">฿</span>
              <input type="number" disabled placeholder="{{getAdjustedBalanceBtc(wallet)}}" aria-label="amount">
            </label>
            <label class="item item-input">
              <span class="input-label">$</span>
              <input type="number" disabled placeholder="{{getAdjustedBalanceUsd(wallet)}}" aria-label="amount">

            </label>

          </div>
        </div>
        <label>Total amount to sell: </label>
        <span>฿ {{totalAmountBtc}} / $ {{totalAmountUsd}}</span>
      </form>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="sell()">Sell</button>
  <button class="btn btn-primary" ng-click="cancel()">Cancel</button>

</div>
