
<div class="modal-body col-md-12">
  <h4 class="modal-title">Qr Code</h4>
  <div class="row col-md-offset-4">
    <!--<p>https://chart.googleapis.com/chart?chs=300x300&cht=qr&chl=bitcoin%{{transaction.address}}%3Famount%3D{{transaction.btc}}</p>-->
    <img ng-src="https://chart.googleapis.com/chart?chs=300x300&cht=qr&chl=bitcoin%{{transaction.address}}%3Famount%3D{{transaction.btc}}">
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="ok(amount)">OK</button>
</div>
