
<div class="modal-body col-md-12">
  <div class="row">
    <form class="form" name="form" ng-submit="createWallet()" novalidate>
      <div class="form-group" ng-class="{ 'has-success': form.label.$valid && submitted,
                                            'has-error': form.label.$invalid && submitted }">
        <label>Name</label>

        <input type="text" name="label" class="form-control" ng-model="wallet.label"
               required/>
        <p class="help-block" ng-show="form.name.$error.required && submitted">
          A label is required
        </p>
      </div>

      <div class="form-group">
        <label>Color</label>

        <span colorpicker ng-model="wallet.color" style="background-color: {{wallet.color}}" class="form-control btn">Change color</span>
      </div>
    </form>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="createWallet(wallet)">Create Wallet</button>
  <button class="btn btn-primary" ng-click="cancel(amount)">Cancel</button>

</div>
