<!--<div class="modal-header">-->
<!--<h4 class="modal-title">Bepaal hier hoeveel Winddelen u kunt aanschaffen om niet over te produceren.</h4>-->
<!--</div>-->
<div class="modal-body col-md-12">
  <h4 class="modal-title">Enable notifications for {{item.symbol}}.</h4>
  <div class="row">
    <br>
    <div class="form-group info"
         ng-class="{ 'has-error': form.amount.$invalid && form.amount.$touched ,
                               'has-success': form.amount.$valid }">
      <div class="col-md-12">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-share"></i></span>
          <input type="number" name="amount" class="form-control" ng-model="amount"
                 placeholder="{{ item.price.btc}}" min="0"/>
        </div>
      </div>
    </div>
    <br>
    <div class="col-md-12 col-md-offset-1">
      {{error}}
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="ok()">OK</button>
</div>
