@import "variables.less";

#sidebar-wrapper {
  background-color: @brand-color;
  color: white;
  z-index: 1;
  border-radius: 5px;
}

.sidebar-nav .active {
  background: rgba(255,255,255,0.25);
  font-weight:bold;
}

.sidebar-nav {
  top: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;

  li {

    text-indent: 20px;
    line-height: 50px;
    a {
      color: white;
      display: block;
      text-decoration: none;
    }
    a:hover {
      background: rgba(255,255,255,0.25);
      color: white;
      text-decoration: none;
    }
  }
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
  text-decoration: none;
}
