<ion-view view-title="Login" >
  <ion-content class="has-header padding">
    <p>
      <a ng-click="setUC('admin@admin.com', 'admin')">admin@admin.com</a> /
      <a ng-click="setUC('user@user.com', 'user')">user@user.com</a> /
      <a ng-click="setUC('approver@approver.com', 'approver')">approver@approver.com</a>
    </p>
    <form class="form" name="form" ng-submit="login(form)" novalidate>
      <div class="list list-inset">
        <label class="item item-input">
          <input type="text" placeholder="E-mail" ng-model="user.email">
        </label>
        <label class="item item-input">
          <input type="password" placeholder="Password" ng-model="user.password">
        </label>
      </div>
      <div ng-if="errors.other != null" class="card sellcard form-group has-error">
        <div class="item item-text-wrap">
          <p class="help-block" ng-show="form.email.$error.required && form.password.$error.required && submitted">
            Please enter your email and password.
          </p>
          <p class="help-block" ng-show="form.email.$error.email && submitted">
            Please enter a valid email.
          </p>

          <p class="help-block">{{ errors.other }}</p>

        </div>
      </div>
      <div>
        <button class="button button-block" type="submit">
          Login
        </button>
        <button class="button button-block button-positive button-outline" ui-sref="register">
          Register
        </button>
      </div>
    </form>
  </ion-content>
</ion-view>
