<ion-view view-title="Welcome"  has-header="true ">
  <ion-nav-buttons side="left">
    <button class="button button-clear no-animation" ng-click="finishOnboarding()" ng-show="!slideIndex">Skip</button>
    <button class="button button-clear no-animation" ng-click="previous()" ng-show="slideIndex > 0">Back</button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-clear no-animation" ng-click="next()" ng-show="slideIndex != 2">Next</button>
    <button class="button button-clear no-animation" ng-click="finishOnboarding()" ng-show="slideIndex == 2">Start!</button>
  </ion-nav-buttons>
  <ion-slide-box on-slide-changed="slideChanged(index)" class="has-header">
      <ion-slide>
        <div class="box">Slide box1</div>
      </ion-slide>
      <ion-slide>
        <div class="box">Slide box2</div>
      </ion-slide>
      <ion-slide>
        <div class="box">Slide box3</div>
      </ion-slide>
  </ion-slide-box>
</ion-view>
