<ion-view view-title="Register" >
  <ion-content class="has-header padding">
    <form class="form" name="form" ng-submit="register(form)" form-drctv>
      <div class="list list-inset">
        <label class="item item-input">
          <input type="text" placeholder="Username" ng-model="user.name" name="username" required="">
        </label>
        <label class="item item-input">
          <input type="email" placeholder="E-mail" ng-model="user.email" name="email" required="">
        </label>
        <label class="item item-input">
          <input type="password" placeholder="Password" ng-model="user.password" name="password" required="">
        </label>
      </div>
      <div class="card sellcard form-group has-error" ng-show="form.$invalid && form.$submitted ">
        <div class="item item-text-wrap">
          <div ng-show="form.username.$error.required"><p>Please enter your name.</p></div>
          <div ng-show="form.email.$error.required"><p>Please enter your e-mail.</p></div>
          <div ng-show="form.email.$error.email"><p>That's not a valid e-mail address.</p></div>
          <div ng-show="form.password.$error.required"><p>You can't do without a password!</p></div>
        </div>
      </div>
      <div ng-show="errors != undefined" class="card sellcard">
        <div class="item item-text-wrap">
          <p class="help-block">{{ errors}}</p>
          <p class="help-block">E-mail address already in use.</p>
        </div>
      </div>
      <div>
        <button class="button button-balanced button-block" type="submit">
          Register
        </button>
      </div>
    </form>
  </ion-content>
</ion-view>
