<ion-view view-title="Account" ng-init="logout()">
  <ion-content>
    <ion-list>

    </ion-list>
    <button class="button button-full button-assertive" >
      Logging Out..
    </button>
  </ion-content>
</ion-view>
