<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Add a Mutation Tab -->
  <ion-tab title="Add Mutation" icon-off="ion-plus" icon-on="ion-plus" href="#/tab/add-mutation">
    <ion-nav-view name="tab-add-mutation"></ion-nav-view>
  </ion-tab>

  <!-- Overview Tab -->
  <ion-tab title="Overview" icon-off="ion-stats-bars" icon-on="ion-stats-bars" href="#/tab/overview">
    <ion-nav-view name="tab-overview"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Log-out" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>


</ion-tabs>
