// Social buttons
// --------------------------------------------------

.btn-facebook {
  .button-variant(@btnText; @btnFacebookBackgroundHighlight; @btnFacebookBackgroundHighlight);
}
.btn-twitter {
  .button-variant(@btnText; @btnTwitterBackground; @btnTwitterBackgroundHighlight);
}
.btn-google-plus {
  .button-variant(@btnText; @btnGooglePlusBackground; @btnGooglePlusBackgroundHighlight);
}
.btn-github {
  .button-variant(@btnTextAlt; @btnGithubBackground; @btnGithubBackgroundHighlight);
}
