<script type="text/ng-template" id="modalContent.html">
  <div ng-include="'components/modal/watchlistModal.html'"></div>
</script>

<div ng-include="'components/navbar/navbar.html'"></div>

<div class="page">
  <div class="container">
    <div class="col-md-12">
      <div class="col-md-8 col-md-offset-2">
        <form class="thing-form">

          <label>Please add currency item to track performance...</label>
          <div class="input-group col-md-12">
            <input type="text" class="form-control" placeholder="Add a new symbol..."
                   ng-model="searchTxt" autofocus="true"
                   ng-change="searchCmd()">
            <ul class="list-group">
              <li class="list-group-item" ng-repeat="currency in searchResults">
                <strong><a href ng-click="selectCurrency(currency.symbol)"> {{currency.symbol}} </a></strong>
                <br>
                <span class="text-muted">{{currency.position}}</span>
              </li>
            </ul>
            <button type="submit" class="btn btn-primary col-md-12" ng-click="trackThing(newSymbol)">Track currency</button>
          </div>
        </form>

      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-12" style="padding-left: 40px">
        <br>
        <!--<h3 class="page-header">Last tickdata: {{btc.timestamp}}</h3>-->
        <!--<div class="btn-group" dropdown>-->
        <!--<button type="button" class="btn btn-danger">Change base currency</button>-->
        <!--<button type="button" class="btn btn-danger dropdown-toggle" dropdown-toggle>-->
        <!--<span class="caret"></span>-->
        <!--<span class="sr-only">Split button!</span>-->
        <!--</button>-->
        <!--<ul class="dropdown-menu" role="menu">-->
        <!--<li><a href ng-click="changeBase('btc')">btc</a></li>-->
        <!--<li><a href ng-click="changeBase('cad')">cad</a></li>-->
        <!--<li><a href ng-click="changeBase('cny')">cny</a></li>-->
        <!--<li><a href ng-click="changeBase('eur')">eur</a></li>-->
        <!--<li><a href ng-click="changeBase('rub')">rub</a></li>-->
        <!--<li><a href ng-click="changeBase('usd')">usd</a></li>-->
        <!--</ul>-->
        <!--</div>-->
        <!--<pagination class="mb5" total-items="totalItems" ng-model="currentPage"-->
                    <!--first-text="{{'nav.first' | translate}}"-->
                    <!--previous-text="{{'nav.previous' | translate}}"-->
                    <!--next-text="{{'nav.next' | translate}}"-->
                    <!--last-text="{{'nav.last' | translate}}"-->
                    <!--current-page="currentPage" num-pages="numPages"-->
                    <!--max-size="maxPaginationSize" class="pagination-sm" boundary-links="true" />-->
        <table class="table table-striped">
          <thead><tr>
            <th>Position</th>
            <th>Symbol</th>
            <th>Price</th>
            <th>Change 24h</th>
            <th>Volume</th>
            <th>Supply</th>
            <th>MCAP</th>
            <th>Action</th>

          </tr>
          </thead>
          <tbody>
          <tr>
            <td>{{ btc.position }}</td>
            <td>{{ btc.symbol }}</td>
            <td>{{ btc.price.usd }}</td>
            <td>{{ btc.change }} %</td>
            <td>{{ btc.volume.usd }}</td>
            <td>{{ btc.supply }}</td>
            <td>{{ btc.market_cap.usd }}</td>
            <!--<td><span class="btn btn-default" ng-click=""><i class="fa fa-bar-chart fa-fw"></i></span></td>-->

          </tr>
          <tr ng-repeat="entry in watchList">
            <td>{{ entry.position }}</td>
            <td>{{ entry.symbol }}</td>
            <td>{{ entry.price.btc }}</td>
            <td>{{ entry.change }} %</td>
            <td>{{ entry.volume.usd }}</td>
            <td>{{ entry.supply }}</td>
            <td>{{ entry.market_cap.usd }}</td>
            <td>
              <!--<span class="btn btn-default" href="http://coinmarketcap.com/currencies/{{entry.name}}/#charts"><i class="fa fa-bar-chart fa-fw"></i></span>-->
              <span class="btn btn-default" ng-click="openWatchlistModal(entry)"><i class="fa fa-eye fa-fw"></i></span>
              <span class="btn btn-default" ng-click="deleteFromWatchList(entry)"><i class="fa fa-eraser fa-fw"></i></span> </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div ng-include="'components/footer/footer.html'"></div>
  </div>


</div>
