<div class="row">
  <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
    <p><strong>&copy; 2015 CryptoInvest</strong> v0.0.03
      <br>
      Consider a donation to keep the service running and evolving. If you like it support it!!!
      <br>
      <span style="color: #228b22">btc-wallet:    1KxaRLpJX2ZTygbY8WYZNTRgMR5q4vv3DB</span></p>
  </div>
</div>
