//
// Variables
// --------------------------------------------------

@brand-color: #1ab394;

// Global values
// --------------------------------------------------

// Grays
// -------------------------

@gray-darker:            lighten(#000, 13.5%); // #222
@gray-dark:              lighten(#000, 20%);   // #333
@gray:                   lighten(#000, 33.5%); // #555
@gray-light:             lighten(#000, 60%);   // #999
@gray-lighter:           lighten(#000, 93.5%); // #eee

// Brand colors
// -------------------------

@brand-inverse:			#4f5259;
@brand-primary:         #4697ce;
@brand-success:         #7dcc93;
@brand-warning:         #e8db4f;
@brand-danger:          #e75a5a;
@brand-info:            #63b7e6;
@brand-brown:			#c0392b;
@brand-indigo:			#9358ac;
@brand-orange:			#f0934e;
@brand-midnightblue:	#2b3d51;
@brand-sky:				#76c4ed;
@brand-magenta:			#e06d94;
@brand-purple:			#e044ab;
@brand-green:			#16a085;
@brand-grape:			#7a869c;
@brand-toyo:			#556b8d;
@brand-alizarin:		#e74c3c;

// Basic Colors
@navy: #1ab394;       // Primary color
@dark-gray: #c2c2c2;  // Default color
@blue: #1c84c6;       // Success color
@lazur: #23c6c8;      // Info color
@yellow: #f8ac59;     // Warrning color
@red: #ED5565;        // Danger color


// Gray colors

@gray-darker:            lighten(#000, 13.5%); // #222
@gray-dark:              lighten(#000, 20%);   // #333
@gray:                   lighten(#000, 33.5%); // #555
@gray-light:             lighten(#000, 60%);   // #999
@gray-lighter:           lighten(#000, 93.5%); // #eee


// IBOX colors ( default panel colors)
@border-color: #e7eaec;     // IBox border
@ibox-title-bg:#ffffff;     // IBox Background header
@ibox-content-bg:#ffffff;   // IBox Background content


// Scaffolding
// -------------------------

@body-bg:               #fff;
@text-color:            @gray-dark;

// Links
// -------------------------

@link-color:            @brand-primary;
@link-hover-color:      darken(@link-color, 15%);

// Typography
// -------------------------

@font-family-sans-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-serif:       Georgia, "Times New Roman", Times, serif;
@font-family-monospace:   Monaco, Menlo, Consolas, "Courier New", monospace;
@font-family-base:        @font-family-sans-serif;

@font-size-base:          14px;
@font-size-large:         ceil((@font-size-base * 1.25)); // ~18px
@font-size-small:         ceil((@font-size-base * 0.85)); // ~12px

@font-size-h1:            floor((@font-size-base * 2.6)); // ~36px
@font-size-h2:            floor((@font-size-base * 2.15)); // ~30px
@font-size-h3:            ceil((@font-size-base * 1.7)); // ~24px
@font-size-h4:            ceil((@font-size-base * 1.25)); // ~18px
@font-size-h5:            @font-size-base;
@font-size-h6:            ceil((@font-size-base * 0.85)); // ~12px

@line-height-base:        1.428571429; // 20/14
@line-height-computed:    floor(@font-size-base * @line-height-base); // ~20px

@headings-font-family:    @font-family-base;
@headings-font-weight:    500;
@headings-line-height:    1.1;

//** Text muted color
@text-muted:                  @gray-light;
// Iconography
// -------------------------

@icon-font-path:          "../fonts/";
@icon-font-name:          "glyphicons-halflings-regular";


// Components
// -------------------------
// Based on 14px font-size and 1.428 line-height (~20px to start)

@padding-base-vertical:          6px;
@padding-base-horizontal:        12px;

@padding-large-vertical:         10px;
@padding-large-horizontal:       16px;

@padding-small-vertical:         5px;
@padding-small-horizontal:       10px;

@line-height-large:              1.33;
@line-height-small:              1.5;

@border-radius-base:             4px;
@border-radius-large:            6px;
@border-radius-small:            3px;

@component-active-bg:            @brand-primary;

@caret-width-base:               4px;
@caret-width-large:              5px;

// Tables
// -------------------------

@table-cell-padding:                 8px;
@table-condensed-cell-padding:       5px;

@table-bg:                           transparent; // overall background-color
@table-bg-accent:                    #f9f9f9; // for striping
@table-bg-hover:                     #f5f5f5;
@table-bg-active:                    @table-bg-hover;

@table-border-color:                 #ddd; // table and cell border

//** Background color for `<body>`.
@body-bg:               #f3f4f6;
@page-title-color:		@body-bg;
// --------------------------------------------------

@font-family-sans-serif:  'Open Sans', 'Segoe UI', 'Droid Sans', Tahoma, Arial, sans-serif;
@font-family-base:        @font-family-sans-serif;
@font-stack: 'Lato', Arial;
@text-color:            #767676;

// --------------------------------------------------
@reverse:                #fff;
@dark-grey: rgba(69, 68, 61, 0.73);
@dark:                  #242633;
@bright:                #fafafa;

// --------------------------------------------------
@border-darker-alt:        #dfe1e5;
@border-darker:            #e1e3e8;
@border-lighter:           #e9ecf0;

// --------------------------------------------------
@padding-base-vertical:          8px;

// --------------------------------------------------
@panel-inner-border:          @border-darker;

// --------------------------------------------------
//@screen-md:                  992px;

// --------------------------------------------------
@state-default-bg:              #f6f6f6;
@state-default-border:          darken(spin(@state-default-bg, -10), 5%);
@state-default-border-light:    #f3f3f3;
// Colors
// --------------------------------------------------
@navy: #0f87ff;         // Primary color
@text-color: #515d6c;   // Body text
@border-color: #e7eaec; // Border

@btnText:                           #fff;
@btnTextAlt:                        #000;

@btnFacebookBackground:             #3B5998;
@btnFacebookBackgroundHighlight:    #133783;
@btnTwitterBackground:              #2daddc;
@btnTwitterBackgroundHighlight:     #0271bf;
@btnGooglePlusBackground:           #dd4b39;
@btnGooglePlusBackgroundHighlight:  #c53727;
@btnGithubBackground:               #fafafa;
@btnGithubBackgroundHighlight:      #ccc;

// Panels
// -------------------------

@panel-bg:                    #fff;
@panel-inner-border:          @border-darker;
@panel-border-radius:         @border-radius-large;
//** Border color for elements within panels
@panel-inner-border:          @border-darker;
@panel-footer-bg:             @gray-lighter;

@panel-default-text:          @gray-dark;
@panel-default-border:        @border-darker;
// @panel-default-heading-bg:    @body-bg;

@panel-primary-text:          #fff;
@panel-primary-border:        @brand-primary;
@panel-primary-heading-bg:    @brand-primary;

@panel-success-text:          #fff;
@panel-success-border:        @brand-success;
@panel-success-heading-bg:    @brand-success;

@panel-info-text:             #fff;
@panel-info-border:           @brand-info;
@panel-info-heading-bg:       @brand-info;

@panel-warning-text:          #fff;
@panel-warning-border:        @brand-warning;
@panel-warning-heading-bg:    @brand-warning;

@panel-danger-text:           #fff;
@panel-danger-border:         @brand-danger;
@panel-danger-heading-bg:     @brand-danger;

@panel-inverse-text:          #fff;
@panel-inverse-border:        @brand-inverse;
@panel-inverse-heading-bg:    @brand-inverse;
