<ion-view view-title="Mutation Detail" hide-back-button="false" can-swipe-back="true" cache-view="false">
  <ion-content class="padding" scroll="false">
    <div class="card sellcard" ng-if="mutation.btcOut > 0">
      <div class="item item-divider sellcard">
        <h2>You sold BTC for USD:</h2>
      </div>
      <div class="item item-icon-left">
        <i class="icon ion-social-bitcoin"></i>
        <h2>{{mutation.btcOut | number:8}}</h2>
      </div>
      <div class="item item-icon-left">
        <i class="icon ion-social-usd"></i>
        <h2>{{mutation.fiatIn | number:2}}</h2>
      </div>
      <div class="item item-text-wrap">
        <h2>Price per BTC: &nbsp; $ {{mutation.fiatIn / mutation.btcOut | number:2}}</h2>
        <h3>Mutation time: {{mutation.time | date:'MM/dd/yyyy @ h:mma'}}</h3>
      </div>
    </div>

    <div class="card buycard" ng-if="mutation.btcIn > 0">
      <div class="item item-divider buycard">
        <h2>You bought BTC for USD:</h2>
      </div>
      <div class="item item-icon-left">
        <i class="icon ion-social-bitcoin"></i>
        <h2>{{mutation.btcIn | number:8}}</h2>
      </div>
      <div class="item item-icon-left">
        <i class="icon ion-social-usd"></i>
        <h2>{{mutation.fiatOut | number:2}}</h2>
      </div>
      <div class="item item-text-wrap">
        <h2>Price per BTC: &nbsp; $ {{mutation.fiatOut / mutation.btcIn | number:2}}</h2>
        <h3>Mutation time: {{mutation.time | date:'MM/dd/yyyy @ h:mma'}}</h3>
      </div>
    </div>

    <div class="button-bar">
      <button class="button button-assertive" ng-click="delete(mutation)">
        Delete Mutation
      </button>
    </div>

  </ion-content>
</ion-view>
