/* Empty. Add your own CSS if you like */
.position-arrow {
    font-size: 30px;
}

.bold {
    font-style: normal;
    font-weight: bold;
}

.oblique {
  font-style: oblique;
  font-size: 10px;
}

.profit-loss-percentage {
    margin-top: 0px !important;
}

.align-center {
    text-align: center;
}

.green{
    color: green;
}

.red {
    color: red;
}

.buycard {
  border: solid 1px lightgreen ;
}

.sellcard {
  border:solid 1px  lightcoral ;
}

.exchange-rate-row {
    background: #F8F8F8;
    font-style: oblique;
    font-size: 14px;
    vertical-align: bottom;
}
