<ion-view view-title="Add a Mutation" ng-init="init">
  <ion-content scroll="false" class="padding">
    <form novalidate>
      <div class="list">
        <!--<label class="item item-input">-->
          <!--<span class="input-label">Date</span>-->
          <!--<input type="date" ng-model="mutation.date">-->
        <!--</label>-->
        <label class="item item-input">
          <span class="input-label">BTC</span>
          <input type="number" ng-model="mutation.btc" string-to-number ng-change="updateUsd()" placeholder="{{mutation.btc || currency }}" aria-label="amount">
        </label>
        <label class="item item-input">
          <span class="input-label">USD</span>
          <input type="number"  ng-model="mutation.usd" string-to-number ng-change="updateBtc()" placeholder="{{mutation.usd || currency}}" aria-label="amount">
        </label>
        <div class="item item-divider oblique">
          USD/BTC: {{exchangeRate}}
        </div>
      </div>


      </div>
      <div class="row">
        <div class="col col-50">
          <button class="button button-block button-assertive" ng-click="sell(mutation)">
            SELL
          </button></div>
        <div class="col col-50">
          <button class="button button-block button-balanced" ng-click="buy(mutation)">
            BUY
          </button>
        </div>
      </div>
    </form>

    <div ng-show="showLastMutation">
      <div class="card sellcard" ng-if="lastMutation.cardstyle == 'sell'" ng-click="goToOverview()">
        <div class="item item-text-wrap">
          <p>You recorded the sell of BTC {{lastMutation.btcOut | number:8}} for {{lastMutation.fiatIn | number:2}}</p>
          <a>Tap to go to Overview</a>
        </div>
      </div>
      <div class="card buycard" ng-if="lastMutation.cardstyle == 'buy'" ng-click="goToOverview()">
        <div class="item item-text-wrap">
          <p>You recorded the buy of BTC {{lastMutation.btcIn | number:8}} for {{lastMutation.fiatOut | number:2}}</p>
          <a>Tap to go to Overview</a>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
