<ion-view view-title="Your position" hide-back-button="true">
  <ion-content scroll="false" >

    <div class="row">
      <div class="col col-67">
        <div class="row">
          <div class="col col-25 bold">Pos.</div>
          <div class="col col-75">BTC {{mutations.endBtcSaldo | number:8 }}</div>
        </div>
        <div class="row">
          <div class="col col-25 bold">DCA</div>
          <div class="col col-75">USD {{mutations.dca | number: 2}}</div>
        </div>
      </div>
      <div ng-switch="profitView">
        <div ng-switch-when="absUsd">
          ABSUSD
        </div>
        <div ng-switch-when="percentage">
          <div class="col align-center" ng-if="mutations.profitability > 0">
            <i class="position-arrow ion-arrow-up-b green" ></i>
            <h3 class="profit-loss-percentage">{{mutations.profitability}}%</h3>
          </div>
          <div class="col align-center" ng-if="mutations.profitability < 0">
            <i class="position-arrow ion-arrow-down-b red"></i>
            <h3 class="profit-loss-percentage">{{mutations.profitability}}%</h3>
          </div>
          <div class="col align-center" ng-if="mutations.profitability == 0">
            <i class="position-arrow ion-minus"></i>
            <h3 class="profit-loss-percentage">{{mutations.profitability}}%</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="row exchange-rate-row">
      <div class="col col-50">Current USD/BTC:</div>
      <div class="col col-30">{{exchangeRate | number: 2}}</div>
    </div>
    <ion-scroll>

      <ion-list>
        <ion-item ng-repeat="mutation in mutations.bitcoins | orderBy:'-time'" class="item-icon-left item-remove-animate item-icon-right" type="item-text-wrap" ng-click="goToDetail(mutation._id)">
          <div ng-if="mutation.btcOut > 0">
            <i class="icon position-arrow ion-log-out red"></i>
            <h2>BTC {{mutation.btcOut | number:8}}</h2>
            <p>USD {{mutation.fiatIn | number:2}} |  {{mutation.fiatIn / mutation.btcOut | number:2 }} USD/BTC</p>
            <p>{{mutation.time | date:'MM/dd/yyyy @ h:mma'}}</p>

            <i class="icon ion-chevron-right icon-accessory"></i>
            <ion-option-button class="button-assertive" ng-click="remove(mutation)">
              Delete
            </ion-option-button>
          </div>
          <div ng-if="mutation.btcIn > 0">
            <i class="icon position-arrow ion-log-in green"></i>
            <h2>BTC {{mutation.btcIn | number:8}}</h2>
            <p>USD {{mutation.fiatOut | number:2}} | {{mutation.fiatOut / mutation.btcIn | number:2 }} USD/BTC</p>
            <p>{{mutation.time | date:'MM/dd/yyyy @ h:mma'}}</p>

            <i class="icon ion-chevron-right icon-accessory"></i>
            <ion-option-button class="button-assertive" ng-click="remove(mutation)">
              Delete
            </ion-option-button>
          </div>

        </ion-item>
        <ion-item ng-if="mutations.bitcoins.length < 1 || mutations == undefined" class="item-icon-left">
          <i class="icon ion-alert red"></i>
          <p>No Mutations yet.</p>
          <a ng-click="goToAddMutation()">Create a mutation</a>
        </ion-item>
      </ion-list>
    </ion-scroll>
  </ion-content>
</ion-view>
