<div class="col-md-4" ng-controller="AdminNavCtrl">
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="{{ isSubPage('') ? 'active' : '' }}">
                <a href="/admin">User Management</a>
            </li>
            <li class="{{ isSubPage('/messages') ? 'active' : '' }}">
                <a href="/admin/messages">Messages</a>
            </li>
        </ul>
    </div>
</div>
