<div class="col-md-4" ng-controller="AdminNavCtrl">
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="{{ isSubPage('') ? 'active' : '' }}">
        <a href="/wallet">Balance</a>
      </li>
      <li class="{{ isSubPage('/send') ? 'active' : '' }}">
        <a href="/wallet/send">Send</a>
      </li>
      <li class="{{ isSubPage('/receive') ? 'active' : '' }}">
        <a href="/wallet/receive">Receive</a>
      </li>
      <li class="{{ isSubPage('/buy') ? 'active' : '' }}">
        <a href="/wallet/buy">Buy</a>
      </li>
      <li class="{{ isSubPage('/sell') ? 'active' : '' }}">
        <a href="/wallet/sell">Sell</a>
      </li>
    </ul>
  </div>
</div>
