.ibox {
  clear: both;
  margin-bottom: 25px;
  margin-top: 0;
  padding: 0;
}

.ibox:after, .ibox:before {
  display: table;
}

.ibox-title {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: @ibox-title-bg;
  border-color: @border-color;
  border-image: none;
  border-style: solid solid none;
  border-width: 4px 0px 0;
  color: inherit;
  margin-bottom: 0;
  padding: 14px 15px 7px;
  height: 48px;
}

.ibox-content {
  background-color: @ibox-content-bg;
  color: inherit;
  padding: 15px 20px 20px 20px;

  border-color: @border-color;
  border-image: none;
  border-style: solid solid none;
  border-width: 1px 0px;
}
.ibox-content {
  clear: both;
}

.ibox-heading {
  background-color: #f3f6fb;
  border-bottom: none;
}

.ibox-heading h3 {
  font-weight: 200;
  font-size: 24px;
}

.ibox-title h5 {
  display: inline-block;
  font-size: 14px;
  margin: 0 0 7px;
  padding: 0;
  text-overflow: ellipsis;
  float: left;
}

.ibox-title .label {
  float: left;
  margin-left: 4px;
}

.ibox-tools {
  display: inline-block;
  float: right;
  margin-top: 0;
  position: relative;
  padding: 0;
}

.ibox-tools a {
  cursor: pointer;
  margin-left: 5px;
  color: #c4c4c4;
}

.ibox-tools a.btn-primary {
  color: #fff;
}

.ibox-tools .dropdown-menu > li > a {
  padding: 4px 10px;
  font-size: 12px;
}

.ibox .open > .dropdown-menu {
  left: auto;
  right: 0;
}


/* transactions */
.transaction-people, .transaction-actions {
  text-align: right;
  vertical-align: middle;
}

dd.transaction-people {
  text-align: left;
  margin-top: 5px;
}

.transaction-people img {
  width: 32px;
  height: 32px;
}

.transaction-title a {
  font-size: 14px;
  color: @text-color;
  font-weight: 600;
}

.transaction-list table tr td {
  border-top: none;
  border-bottom: 1px solid @border-color;
  padding: 15px 10px;
  vertical-align: middle;
}

.transaction-manager .tag-list li a  {
  font-size: 10px;
  background-color: white;
  padding: 5px 12px;
  color: inherit;
  border-radius: 2px;
  border: 1px solid @border-color;
  margin-right: 5px;
  margin-top: 5px;
  display: block;
}

.transaction-files li a {
  font-size: 11px;
  color: @text-color;
  margin-left: 10px;
  line-height: 22px;
}

.canvas-panel {
  height: 600px;
}
