<div ng-include="'components/navbar/landing-navbar.html'"></div>

<div id="inSlider" class="carousel slide carousel-fade" data-ride="carousel" ng-non-bindable>
  <ol class="carousel-indicators">
    <li data-target="#inSlider" data-slide-to="0" class="active"></li>
    <li data-target="#inSlider" data-slide-to="1"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <div class="container">
        <div class="carousel-caption">
          <h1>CryptoInvest</h1>
          <h3>Why wasting time?</h3>

        </div>
        <!--<div class="carousel-image wow zoomIn">-->
        <!--<img src="assets/img/laptop.png" alt="laptop"/>-->
        <!--</div>-->
      </div>
      <!-- Set background for slide in css -->
      <div class="header-back one"></div>

    </div>
    <div class="item">
      <div class="container">
        <div class="carousel-caption blank">
          <h2>Track your crypto currencies...</h2>
          <p>Tired of looking over spread-sheets <br> then you will love this...</p>
          <!--<p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>-->
        </div>
      </div>
      <!-- Set background for slide in css -->
      <div class="header-back two"></div>
    </div>
  </div>
  <a class="left carousel-control" href="#inSlider" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#inSlider" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


<section id="function" class="container features">
  <div class="row">
    <div class="col-lg-12 text-center">
      <div class="navy-line"></div>
      <h1><span class="navy"> The way it works:</span> </h1>
      <p>Join the community</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center wow fadeInLeft">
      <i class="fa fa-bar-chart features-icon"></i>
      <h2>Track your Bitcoin use</h2>
      <p>Knowing the price of your bitcoins will make you understand how to spend it.</p>
      <p>Knowing how you spend your bitcoin will make you more secure in using it.</p>
      <p>Using it holds the potential to transform the future like never before.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center wow fadeInRight">
      <div>
        <i class="fa fa-envelope features-icon"></i>
        <h2>Track your crypto currency holdings</h2>
        <p>Crypto currencies will transform each aspect of our financial system as we know it.</p>
        <p>Spreadsheets are clearly a time consuming and annoying way to calculate the value performance of the coins you hold.</p>
        <p>cryptoInvest would like to introduce you to a user-friendly way of getting financial information you need.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center wow fadeInLeft">
      <i class="fa fa-eye features-icon"></i>
      <h2>Handy watchlist?</h2>
      <p>It is time consuming to compare all the alternative crypto currencies one might find interesting, well not anymore.</p>
      <p>Never miss a market development in a crypto currency again by keeping your personal watchlist.</p>
      <p>Get quick and valuable insights about market performance measures.</p>
      <br/>
      <a href="/signup" class="btn btn-primary">SignUp</a>
    </div>
  </div>
  </div>
</section>

<section  class="container features">
  <div class="row">
    <div class="col-lg-12 text-center">
      <div class="navy-line"></div>
      <h1>Discover great features</h1>
      <p>With the current version we really only scratched the tip of the iceberg. </p>
    </div>
  </div>
  <div class="row features-block">
    <div class="col-lg-6 features-text wow fadeInLeft">
      <small>cryptoInvest</small>
      <h2>Bitcoin expense tracking </h2>
      <p>We believe one factor holding people back from using bitcoin as an everyday transaction medium is a lack of easily accessible performance measures. Understanding the cost of your bitcoin will take a lot of confusion from the user and introduce a new comfort in using it.</p>
      <p>cryptoInvest presents you an intuitive interface and holds the actual cost of your position against your current balance at market price. A good indicator for your spending or purchasing decisions.</p>
      <p>Keep yourself a bitcoin styled cashbook and earn insights into your everyday spending habits.</p>
      <p>Expect many more great features to evolve.</p>
    </div>
    <div class="col-lg-6 text-right wow fadeInRight">
      <img src="assets/img/btcPreview.png" alt="dashboard" class="img-responsive pull-right">
    </div>
  </div>
</section>

<section id="app" class="features">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="navy-line"></div>
        <br/>
        <h1>Coming your way soon, very soon!!!</h1>
        <div class="col-md-5 col-md-offset-1 wow fadeInLeft">
          <img src="../assets/img/iphone4s.png" height="500px" width="260px">
        </div>
        <div class="col-md=6 col-md-offset-2 text-left wow fadeInRight">
          <br>
          <br>
          <br>
          <h3>Informed at all times...</h3>

          <p>With cryptoInvest you will be able to record, monitor and understand your bitcoin use.</p>
          <p>The app enables you to have all the information accessible at all times </p>
          <p>and record any transaction on the fly.</p>
          <!--<h3>Download the app.</h3>-->
          <!--<p>Choose your platform:</p>-->
          <!--<div class="form-group col-md-offset-1">-->
            <!--<img src="../assets/img/android-button.jpg" height="60px" width="60px">-->
            <!--<img src="../assets/img/apple-button.jpg" height="60px" width="60px">-->
          <!--</div>-->
        </div>
      </div>
    </div>
  </div>
</section>
<section id="contact" class="gray-section contact">
  <div class="container">
    <div class="row m-b-lg">
      <div class="col-lg-12 text-center">
        <div class="navy-line"></div>
        <h1><span class="navy"> Contact</span> </h1>
        <p>Any suggestions or questions we would love to hear it...</p>
      </div>
    </div>
    <div class="row col-lg-12">
      <div class="col-lg-8">
        <map class="ui-map" zoom="14" center="[52.388, 4.914]" scrollwheel="false">
          <marker position="[52.388, 4.914]" title="marker" animation="Animation.DROP"></marker>
        </map>
      </div>
    </div>
    <div class="row col-lg-12" style="padding-top: 30px">
      <!--<p class="text-color">-->
        <!--Consectetur adipisicing elit. Aut eaque, totam corporis laboriosam veritatis quis ad perspiciatis, totam corporis laboriosam veritatis, consectetur adipisicing elit quos non quis ad perspiciatis, totam corporis ea,-->
      <!--</p>-->
    </div>
    <div class="row col-lg-12 ">
      <div class="text-center">
        <form class="form-horizontal row-border" name="form" ng-submit="sendMessage(user)" ng-hide="messageSent">
          <div class="form-group info"
               ng-class="{ 'has-error': form.name.$invalid && form.name.$touched ,
                         'has-success': form.name.$valid }">
            <div class="m-t-sm">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user"></i></span>

                <input type="text" name="name" class="form-control" ng-model="user.name"
                       placeholder="Your name"
                       required/>
              </div>
            </div>
            <!--<div class="col-md-4 has-error">-->
              <!--<div class="help-inline">-->
                <!--<span ng-show="!!form.name.$error.isBlank"><i class="fa fa-times-circle"></i> It would be nice to know your name</span>-->
              <!--</div>-->
            <!--</div>-->
          </div>

          <div class="form-group info"
               ng-class="{ 'has-error': form.email.$invalid && form.email.$touched ,
                         'has-success': form.email.$valid }">
            <div class="m-t-sm">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
                <input type="email" name="email" class="form-control" ng-model="user.email"
                       placeholder="Your Email"
                       required
                       mongoose-error/>
              </div>
            </div>
            <!--<div class="col-md-4">-->
              <!--<div class="help-inline">-->
                <!--<span class="has-error" ng-show="!!form.email.$error.isBlank"><i class="fa fa-times-circle"></i> We need you mail address to reply.</span>-->
                <!--<span class="has-error" ng-show="!!form.email.$error.invalidMail"><i class="fa fa-times-circle"></i> This is not a valid mail address.</span>-->
              <!--</div>-->
            <!--</div>-->
          </div>
          <div class="form-group info"
               ng-class="{ 'has-error': form.message.$invalid && form.message.$touched ,
                         'has-success': form.message.$valid }">
            <div class="m-t-sm">
                          <textarea name="message" class="form-control" ng-model="user.message"
                                    placeholder="Your message to us..."
                                    required rows="5"></textarea>
            </div>
            <!--<div class="col-md-4 has-error">-->
              <!--<div class="help-inline">-->
                <!--<span ng-show="!!form.message.$error.isBlank"><i class="fa fa-times-circle"></i> Tell us whats in your mind...</span>-->
              <!--</div>-->
            <!--</div>-->
            <div class="col-md-4">
              <div class="help-inline">
                <span class="has-error" ng-show="err"><i class="fa fa-times-circle"></i> {{error}}</span>
              </div>
            </div>
          </div>
          <div class="form-actions">
            <div class="m-t-sm">
              <a href ng-click="sendMessage(user)" class="btn btn-primary">Send</a>
            </div>
          </div>

        </form>
        <div ng-show="messageSent">

          <a href ng-click="setFalse()" class="btn btn-primary">Your message has been received. Thank you.</a>

        </div>
        <!--<p class="m-t-sm">-->
          <!--Or follow us on social platform-->
        <!--</p>-->
        <!--<ul class="list-inline social-icon">-->
          <!--<li><a href="#"><i class="fa fa-twitter"></i></a>-->
          <!--</li>-->
          <!--<li><a href="#"><i class="fa fa-facebook"></i></a>-->
          <!--</li>-->
          <!--<li><a href="#"><i class="fa fa-linkedin"></i></a>-->
          <!--</li>-->
        <!--</ul>-->
      </div>
    </div>
    <div ng-include="'components/footer/landing-footer.html'"></div>

  </div>
</section>
