<script type="text/ng-template" id="modalContent.html">
  <div ng-include="'components/modal/qrModal.html'"></div>
</script>


<div ng-include="'components/navbar/navbar.html'"></div>
<div class="page">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div id="sidebar-wrapper">
          <ul class="sidebar-nav">
            <li class="{{ isSubPage('') ? 'active' : '' }}">
              <a href="/wallet">Wallets</a>
            </li>
            <li class="{{ isSubPage('/send') ? 'active' : '' }}">
              <a href="/wallet/{{walletId}}/send">Send</a>
            </li>
            <li class="{{ isSubPage('/receive') ? 'active' : '' }}">
              <a href="/wallet/{{walletId}}/receive">Receive</a>
            </li>
            <li class="{{ isSubPage('/buy') ? 'active' : '' }}">
              <a href="/wallet/{{walletId}}/buy">Buy</a>
            </li>
            <li class="{{ isSubPage('/sell') ? 'active' : '' }}">
              <a href="/wallet/{{walletId}}/sell">Sell</a>
            </li>
            <li class="{{ isSubPage('/settings') ? 'active' : '' }}">
              <a href="/wallet/{{walletId}}/settings">Settings</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-sm-8 panel panel-default">
        <div class="panel-body">
          <h3>Wallet</h3>
          <div class="col-sm-12">
            <form class="form" name="form" ng-submit="createQr(send)" novalidate>
              <label>Balance: </label>
              <span>฿ {{wallet.data.available_balance}} / $ {{wallet.data.usd_balance}}</span>
              <div class="form-group" ng-class="{ 'has-success': form.name.$valid && submitted,
                                              'has-error': form.name.$invalid && submitted }">
                <label>My btc address: </label>

                <span>{{send.address}}</span>
                <p class="help-block" ng-show="form.name.$error.required && submitted">
                  At least one recipient is required
                </p>
              </div>

              <div class="form-group" ng-class="{ 'has-success': form.email.$valid && submitted,
                                              'has-error': form.email.$invalid && submitted }">
                <label>Amount: </label>
                  <!--<label class="item item-input">-->
                  <!--<span class="input-label">Date</span>-->
                  <!--<input type="date" ng-model="send.date">-->
                  <!--</label>-->
                  <label class="form-group">
                    <span class="input-label">฿</span>
                    <input type="number" ng-model="send.btc" ng-change="updateUsd()" min="0" placeholder="{{wallet.data.maxSpendable }}" aria-label="amount">
                  </label>
                  <label class="item item-input">
                    <span class="input-label">$</span>
                    <input type="number"  ng-model="send.usd" ng-change="updateBtc()" min="0" placeholder="{{wallet.data.maxSpendableUsd}}" aria-label="amount">
                  </label>
                  <label>
                    $/฿: {{btc.price.usd}}
                  </label>
                <!--<input type="email" name="email" class="form-control" ng-model="user.email"-->
                <!--required-->
                <!--mongoose-error/>-->
                <!--<p class="help-block" ng-show="form.email.$error.email && submitted">-->
                <!--Doesn't look like a valid email.-->
                <!--</p>-->
                <!--<p class="help-block" ng-show="form.email.$error.required && submitted">-->
                <!--What's your email address?-->
                <!--</p>-->
                <!--<p class="help-block" ng-show="form.email.$error.mongoose">-->
                <!--{{ errors.email }}-->
                <!--</p>-->
              </div>

              <div>
                <button class="btn btn-inverse btn-lg btn-login" type="submit">
                  Create QR Code
                </button>
              </div>
            </form>
          </div>

        </div>
      </div>
    </div>
      <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-4">
          <h2>Transaction list</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="wrapper wrapper-content animated fadeInUp">

            <div class="ibox">
              <div class="ibox-title">
                <h5>All transactions assigned to this account</h5>

              </div>
              <div class="ibox-content">
                <div class="row m-b-sm m-t-sm">

                  <div class="col-md-11">
                    <div class="input-group"><input type="text" placeholder="Search" class="input-sm form-control"> <span class="input-group-btn">
                                        <button type="button" class="btn btn-sm btn-primary"> Go!</button> </span></div>
                  </div>
                </div>

                <div class="transaction-list">

                  <table class="table table-hover">
                    <tbody>
                    <tr ng-repeat="transaction in receivedTransactions">
                      <td class="transaction-status">
                        <span class="label label-primary">Confirmed</span>
                      </td>
                      <td class="transaction-title">
                        <a ui-sref="transaction_detail">Expenses Week 43/15 Zender Corp Expense Wallet</a>
                        <br/>
                        <small>{{ transaction.time | jsDate | date: "dd-MMMM-yyyy" }}</small>
                      </td>
                      <td class="transaction-people">
                        <ul>
                          <li ng-repeat="sender in transaction.senders">
                            {{sender}}
                          </li>
                        </ul>

                      </td>
                      <td class="transaction-completion">
                        <span>฿ {{transaction.amounts_received[0].amount}}</span>
                      </td>

                      <td class="transaction-actions">
                        <a href="" class="btn btn-white btn-sm"><i class="fa fa-folder"></i> View </a>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
