<div ng-include="'components/navbar/navbar.html'"></div>
<div class="page">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div id="sidebar-wrapper">
          <ul class="sidebar-nav">
            <li class="{{ isSubPage('') ? 'active' : '' }}">
              <a href="/wallet">Wallets</a>
            </li>
            <li class="{{ isSubPage('/send') ? 'active' : '' }}">
              <a href="/wallet/{{walletId}}/send">Send</a>
            </li>
            <li class="{{ isSubPage('/receive') ? 'active' : '' }}">
              <a href="/wallet/{{walletId}}/receive">Receive</a>
            </li>
            <li class="{{ isSubPage('/buy') ? 'active' : '' }}">
              <a href="/wallet/{{walletId}}/buy">Buy</a>
            </li>
            <li class="{{ isSubPage('/sell') ? 'active' : '' }}">
              <a href="/wallet/{{walletId}}/sell">Sell</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-8 panel panel-default">
        <div class="panel-body">
          <h3>Wallet</h3>
          <div class="col-sm-12">
            <form class="form" name="form" ng-submit="sendTransaction(form)" novalidate>
              <p>Max spendable minus standard network fee: ฿ {{wallet.data.maxSpendable}} / $ {{wallet.data.maxSpendableUsd}}</p>
              <div class="form-group" ng-class="{ 'has-success': form.recipient.$valid && submitted,
                                              'has-error': form.recipient.$invalid && submitted }">
                <label>Recipient</label>

                <input type="text" name="recipient" class="form-control" ng-model="send.recipient"
                       required/>
                <p class="help-block" ng-show="form.name.$error.required && submitted">
                  At least one recipient is required
                </p>
              </div>
              <div class="form-group">
                <label>Decription</label>

                <input type="text" name="description" class="form-control" ng-model="send.description"
                       required/>
              </div>

              <div class="form-group" ng-class="{ 'has-success': form.amount.$valid && submitted,
                                              'has-error': form.amount.$invalid && submitted }">
                <label>Amount to be received</label>
                  <!--<label class="item item-input">-->
                  <!--<span class="input-label">Date</span>-->
                  <!--<input type="date" ng-model="send.date">-->
                  <!--</label>-->
                  <label class="form-group">
                    <span class="input-label">฿</span>
                    <input type="number" ng-model="send.btc" ng-change="updateUsd()" min="0" max="{{wallet.data.maxSpendable }}" placeholder="{{wallet.data.maxSpendable }}" aria-label="amount">
                  </label>
                  <label class="item item-input">
                    <span class="input-label">$</span>
                    <input type="number"  ng-model="send.usd" ng-change="updateBtc()" min="0" max="{{wallet.data.maxSpendableUsd }}" placeholder="{{wallet.data.maxSpendableUsd}}" aria-label="amount">
                  </label>
                  <label>
                    $/฿: {{btc.price.usd}}
                  </label>
                <!--<input type="email" name="email" class="form-control" ng-model="user.email"-->
                       <!--required-->
                       <!--mongoose-error/>-->
                <!--<p class="help-block" ng-show="form.email.$error.email && submitted">-->
                  <!--Doesn't look like a valid email.-->
                <!--</p>-->
                <!--<p class="help-block" ng-show="form.email.$error.required && submitted">-->
                  <!--What's your email address?-->
                <!--</p>-->
                <!--<p class="help-block" ng-show="form.email.$error.mongoose">-->
                  <!--{{ errors.email }}-->
                <!--</p>-->
              </div>

              <p>Estimated Network fee: ฿ {{wallet.data.estimatedNetworkFee}} / ~ $ {{wallet.data.estimatedNetworkFeeUsd}}</p>
              <p ng-if="loaded">Final amount withdrawn: ฿ {{amountPlusNetworkFee()}}</p>

              <div>
                <button class="btn btn-inverse btn-lg btn-login" type="submit">
                  Send
                </button>
              </div>
            </form>
          </div>

        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="wrapper wrapper-content animated fadeInUp">
          <table class="table table-hover">
            <tbody>
            <tr ng-repeat="transaction in sentTransactions">
              <td class="transaction-status">
                <span class="label label-primary">Confirmed</span>
              </td>
              <td class="transaction-title">
                <a ui-sref="transaction_detail">Bought Windows 7</a>
                <br/>
                <small>{{ transaction.time | jsDate | date: "dd-MMMM-yyyy" }}</small>
              </td>
              <td class="transaction-people">
                <ul>
                  <li ng-repeat="recipient in transaction.amounts_sent">
                    {{recipient.recipient}}
                  </li>
                </ul>
              </td>
              <td class="transaction-completion">
                <span>฿ {{transaction.amounts_sent[0].amount}}</span>
              </td>

              <td class="transaction-actions">
                <a href="" class="btn btn-white btn-sm"><i class="fa fa-folder"></i> View </a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    <div ng-include="'components/footer/footer.html'"></div>
    </div>
  </div>
</div>
