<div ng-include="'components/navbar/navbar.html'"></div>
<div class="page">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div id="sidebar-wrapper">
          <ul class="sidebar-nav">
            <li class="{{ isSubPage('') ? 'active' : '' }}">
              <a href="/wallet">Wallets</a>
            </li>
            <li class="{{ isSubPage('/send') ? 'active' : '' }}">
              <a href="/wallet/{{walletId}}/send">Send</a>
            </li>
            <li class="{{ isSubPage('/receive') ? 'active' : '' }}">
              <a href="/wallet/{{walletId}}/receive">Receive</a>
            </li>
            <li class="{{ isSubPage('/buy') ? 'active' : '' }}">
              <a href="/wallet/{{walletId}}/buy">Buy</a>
            </li>
            <li class="{{ isSubPage('/sell') ? 'active' : '' }}">
              <a href="/wallet/{{walletId}}/sell">Sell</a>
            </li>
            <li class="{{ isSubPage('/settings') ? 'active' : '' }}">
              <a href="/wallet/{{walletId}}/settings">Settings</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-sm-8 panel panel-default">
        <div class="panel-body">
          <h3>Wallet</h3>
          <div class="col-sm-12">
            <form class="form" name="form" ng-submit="updateWallet(wallet)" novalidate>
              <div class="form-group" ng-class="{ 'has-success': form.label.$valid && submitted,
                                            'has-error': form.label.$invalid && submitted }">
                <label>New Label</label>

                <input type="text" name="label" class="form-control" ng-model="wallet.newLabel"
                       placeholder="{{wallet.label}}"
                       required/>
                <p class="help-block" ng-show="form.label.$error.required && submitted">
                  A label is required
                </p>
              </div>

              <div class="form-group">
                <label>New Color</label>

                <span colorpicker ng-model="wallet.color" style="background-color: {{wallet.color}}" class="form-control btn">Change color</span>
              </div>
              <div class="col-md-offset-10">
                <button class="btn" type="submit">
                  Save
                </button>
              </div>
            </form>
          </div>

        </div>
      </div>
    </div>
      <div ng-include="'components/footer/footer.html'"></div>
    </div>
  </div>
</div>
