<script type="text/ng-template" id="modalWalletCreate.html">
  <div ng-include="'components/modal/walletCreateModal.html'"></div>
</script>
<script type="text/ng-template" id="modalCumulativeBuy.html">
  <div ng-include="'components/modal/cumulativeBuyModal.html'"></div>
</script>

<script type="text/ng-template" id="modalCumulativeSell.html">
  <div ng-include="'components/modal/cumulativeSellModal.html'"></div>
</script>

<div ng-include="'components/navbar/navbar.html'"></div>
<div class="page">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 panel panel-default">
        <div class="panel-body canvas-panel">
          <div class="row col-sm-12">
            <h3>Wallets</h3>
            <p>Cumulative Balance ฿ {{cumulativeBalance.cumulativeBalanceBtc}} / $ {{cumulativeBalance.cumulativeBalanceUsd}}</p>
            <button class="btn btn-success" ng-click="createWallet()">
              Create Wallet
            </button>
            <button class="btn btn-success" ng-click="cumulativeBuy(wallets)">
              Cumulative Buy
            </button>
            <button class="btn btn-success" ng-click="cumulativeSell(wallets)">
              Cumulative Sell
            </button>
          </div>
          <canvas id="viewport" width="900" height="400" arbor data="graphData"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>
