<div ng-include="'components/navbar/navbar.html'"></div>
<div class="page">
  <div class="container">
    <div class="row">
      <div ng-include="'components/navbar/admin-nav.html'"></div>
      <div class="col-sm-8 panel panel-default">
        <div class="panel-body">
          <h3>Messages</h3>
          <!--<input type="text" class="form-control" placeholder="{{ 'global.snt.search-placeholder' | translate }}"-->
                 <!--ng-model="searchTxt" autofocus="true"-->
                 <!--ng-change="searchCmd()">-->


          <!--<ul class="list-group">-->
            <!--<li class="list-group-item" ng-repeat="message in searchResults">-->
              <!--<strong>{{user}}</strong><br>-->
              <!--<span class="text-muted">{{user.email}}</span>-->
              <!--<a ng-click="deleteUser(user)" class="trash"><span class="glyphicon glyphicon-trash pull-right">-->

                          <!--</span></a>-->
            <!--</li>-->
          <!--</ul>-->
          <!--<br/>-->
          <div class="col-sm-offset-3">
            <pagination class="mb5" total-items="totalItems" ng-model="currentPage"
                        first-text="First"
                        previous-text="Previous"
                        next-text="Next"
                        last-text="Last"
                        current-page="currentPage" num-pages="numberOfPages"
                        max-size="maxPaginationSize" class="pagination-sm" boundary-links="true" />
          </div>
          <ul class="list-group">
            <li class="list-group-item" ng-repeat="message in pagedMessages">
              <strong>{{message.name}}</strong><br>
              <span class="text-muted">{{message.email}}</span>
              <a ng-click="deleteMessage(message)" class="trash"><span class="glyphicon glyphicon-trash pull-right">

                        </span></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
