<script type="text/ng-template" id="modalContent.html">
  <div ng-include="'components/modal/sellModal.html'"></div>
</script>

<div ng-include="'components/navbar/navbar.html'"></div>

<div class="page">
  <div class="container">
    <div class="col-md-12">
      <div class="col-md-3">
        <form class="thing-form">

          <label>Please add currency item to track performance...</label>
          <div class="input-group col-md-12">
            <input type="text" class="form-control" placeholder="Add a new symbol..."
                   ng-model="searchTxt" autofocus="true"
                   ng-change="searchCmd()">
            <ul class="list-group">
              <li class="list-group-item" ng-repeat="currency in searchResults">
                <strong><a href ng-click="selectCurrency(currency.symbol)"> {{currency.symbol}} </a></strong>
                <br>
                <span class="text-muted">{{currency.position}}</span>
              </li>
            </ul>
            <input type="text" class="form-control" placeholder="Amount" ng-model="newSymbol.amount" autofocus>
            <br>
            <input type="text" class="form-control" placeholder="Purchase Price/btc" ng-model="newSymbol.price">
            <br>
            <button type="submit" class="btn btn-primary col-md-12" ng-click="addThing(newSymbol)">Add new currency</button>
          </div>
        </form>
        <!--<h3 class="page-header">Last tickdata:</h3>-->
        <!--<h3 >{{btc.timestamp | date:'yyyy-MM-dd HH:mm:ss Z'}}</h3>-->
      </div>
      <div class="col-md-9">
        <table class="table table-striped">
          <thead><tr>
            <th>Symbol</th>
            <th>Purchase Amount</th>
            <th>VWAP</th>
            <th>Current Price</th>
            <th>Est. Holdings at purchase</th>
            <th>Est. Holdings at present</th>
            <th>% Change</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="c in currencies">
            <td>{{ c.symbol }}</td>
            <td>{{ c.amount }}</td>
            <td>{{ c.price  }}</td>
            <td>{{ c.current_price  }}</td>
            <td>{{ c.value_past }}</td>
            <td>{{ c.value_present }}</td>
            <td>{{ c.value_percent_change }} %</td>

            <td><span class="btn btn-default" ng-click="openSellModal(c)"><i class="fa fa-cog fa-fw"></i></span>
              <span class="btn btn-default" ng-click="deleteThing(c)"><i class="fa fa-eraser fa-fw"></i></span> </td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>

            <td>{{ total.value_past }}</td>
            <td>{{ total.value_present }}</td>
            <td>{{ total.value_percent_change }} %</td>

          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <br>
    <div class="row" style="padding-top: 40px">
      <div class="col-md-12" style="padding-left: 40px">
        <!--<div class="btn-group" dropdown>-->
        <!--<button type="button" class="btn btn-danger">Change base currency</button>-->
        <!--<button type="button" class="btn btn-danger dropdown-toggle" dropdown-toggle>-->
        <!--<span class="caret"></span>-->
        <!--<span class="sr-only">Split button!</span>-->
        <!--</button>-->
        <!--<ul class="dropdown-menu" role="menu">-->
        <!--<li><a href ng-click="changeBase('btc')">btc</a></li>-->
        <!--<li><a href ng-click="changeBase('cad')">cad</a></li>-->
        <!--<li><a href ng-click="changeBase('cny')">cny</a></li>-->
        <!--<li><a href ng-click="changeBase('eur')">eur</a></li>-->
        <!--<li><a href ng-click="changeBase('rub')">rub</a></li>-->
        <!--<li><a href ng-click="changeBase('usd')">usd</a></li>-->
        <!--</ul>-->
        <!--</div>-->
        <table class="table table-striped">
          <thead><tr>
            <th>Position</th>
            <th>Symbol</th>
            <th>Price</th>
            <th>Change 24h</th>
            <th>Volume</th>
            <th>Supply</th>
            <th>MCAP</th>

          </tr>
          </thead>
          <tbody>
          <tr>
            <td>{{ btc.position }}</td>
            <td>{{ btc.symbol }}</td>
            <td>{{ btc.price.usd }}</td>
            <td>{{ btc.change }} %</td>
            <td>{{ btc.volume.usd }}</td>
            <td>{{ btc.supply }}</td>
            <td>{{ btc.market_cap.usd }}</td>
          </tr>
          <tr ng-repeat="entry in marketData">
            <td>{{ entry.position }}</td>
            <td>{{ entry.symbol }}</td>
            <td>{{ entry.price.btc }}</td>
            <td>{{ entry.change }} %</td>
            <td>{{ entry.volume.usd }}</td>
            <td>{{ entry.supply }}</td>
            <td>{{ entry.market_cap.usd }}</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div ng-include="'components/footer/footer.html'"></div>

    </div>

  </div>


</div>
