<script type="text/ng-template" id="modalContent.html">
  <div ng-include="'components/modal/archiveModal.html'"></div>
</script>

<div ng-include="'components/navbar/navbar.html'"></div>

<div class="page">
  <div id="page-heading" cg-busy="{promise:loaded,message:'Loading Your Data',templateUrl:'views/templates/loading.html'}">
    <div class="col-md-11 col-md-offset-9">
      <div class="btn-toolbar">
        <!--<a href="" class="btn btn-default" ng-click="openArchiveModal(snapshots)"><i class="fa fa-calendar"> Archive </i></a>-->

        <!--<div class="btn-group" dropdown>-->
          <!--<button type="button" class="btn btn-default dropdown-toggle">-->
            <!--Export as <span class="caret"></span>-->
          <!--</button>-->
          <!--<ul class="dropdown-menu" role="menu">-->
            <!--<li class="text-center"><a ng-click="openPDF()"><i class="fa fa-file-pdf-o"></i>  PDF</a></li>-->
            <!--<li class="text-center"><a ng-click="downloadCsv()"><i class="fa fa-file-excel-o"></i>  Excel</a></li>-->
          <!--</ul>-->
        <!--</div>-->
        <!--<a href="" class="btn btn-default" ng-click="closeEntry()"><i class="fa fa-cog"> Close </i></a>-->
      </div>
    </div>
  </div>
  <br>
  <div class="container">
    <div ng-if="loaded">
      <div class="widget brand-bg no-padding">
        <div class="p-m col-md-offset-7">
          <h1 class="m-xs"><span class="size-h3 font-bold no-margins"> Balance    </span>    ฿ {{total.endBtcSaldo}} / {{total.currentFiatValue | currency:item.currency}}</h1>
        </div>
        <div class="p-m col-md-offset-9">
          <h1 class="m-xs"><span class="size-h3 no-margins"><i class="{{profitabilityMarker()}}" style="{{profitabilityMarkerColor()}}"></i></span> {{total.profitability}} % </h1>
        </div>
        <div class="p-m col-md-offset-9">
          <h1 class="m-xs"><span class="size-h3 no-margins"><i class="{{endFiatSaldoMarker()}}" style="{{endFiatSaldoMarkerColor()}}"></i></span> {{total.gain | currency:item.currency}}</h1>
        </div>
        <div class="p-m">

          <small>{{currentSnapshotTitle}}</small>
        </div>
        <!--<div class="flot-chart">-->
          <!--<div flot class="flot-chart-content" dataset="flotChartData" options="flotChartOptions"></div>-->
        <!--</div>-->
      </div>
      <div class="list-justified-container">
        <ul class="list-justified text-center">
          <li>
            <p class="size-h3">{{btc.price.usd | currency:item.currency }}</p>
            <p class="text-muted">฿ current</p>
          </li>
          <li>
            <p class="size-h3"> {{total.purchaseDca | currency:item.currency}}</p>
            <p class="text-muted">Vwap</p>
          </li>
          <li>
            <p class="size-h3"> {{total.endFiatSaldo | currency:item.currency}}</p>
            <p class="text-muted">Cost portfolio</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="panel panel-gray">
          <div class="panel-body">
            <div class="col-lg-12">

            <!--<div class="col-md-6 col-md-offset-5">-->
              <!--<pagination class="mb5" total-items="totalItems" ng-model="currentPage" current-page="currentPage" num-pages="numPages" max-size="maxSize" class="pagination-sm" boundary-links="true"></pagination>-->
            <!--</div>-->
            <div>
              <table class="table" id="exportable">
                <thead>
                <tr>
                  <th style="width:12.5%">Date</th>
                  <th style="width:20%">Description</th>
                  <th style="width:7.5%">ID</th>
                  <th style="width:15%">฿ in</th>
                  <th style="width:10%">$ out</th>
                  <th style="width:15%">฿ out</th>
                  <th style="width:10%">$ in</th>
                  <td style="width:10%">Action</td>
                </tr>
                </thead>
                <tbody>
                <!--<tr>-->
                  <!--<td></td>-->
                  <!--<td>Start balance</td>-->
                  <!--<td class="numeric"></td>-->
                  <!--<td class="numeric"style="color: green">{{ total.startBtcSaldo}}</td>-->
                  <!--<td class="numeric"style="color: green">{{ total.startFiatSaldo}}</td>-->
                  <!--<td class="numeric"></td>-->
                  <!--<td class="numeric"></td>-->
                  <!--<td></td>-->
                <!--</tr>-->
                <!--<tr>-->
                  <!--<td></td>-->
                  <!--<td>End balance</td>-->
                  <!--<td class="numeric"></td>-->
                  <!--<td class="numeric"></td>-->
                  <!--<td class="numeric"></td>-->
                  <!--<td class="numeric" style="color: red">{{ total.endBtcSaldo }}</td>-->
                  <!--<td class="numeric" style="color: red">{{ total.endFiatSaldo }}</td>-->

                  <!--<td class="numeric"></td>-->
                  <!--<td></td>-->
                <!--</tr>-->
                <!--<tr>-->
                  <!--<td></td>-->
                  <!--<td>Dca</td>-->
                  <!--<td class="numeric"></td>-->
                  <!--<td class="numeric" style="color: green">1</td>-->
                  <!--<td class="numeric" style="color: green">{{ total.purchaseDca}}</td>-->
                  <!--<td class="numeric" style="color: red">1</td>-->
                  <!--<td class="numeric" style="color: red">{{ total.spendingDca}}</td>-->
                  <!--<td></td>-->
                </tr>
                <tr class="font-bold">
                <td></td>
                <td>Sums</td>
                <td class="numeric"></td>
                <td class="numeric" style="color: green">{{ total.btcOut }}</td>
                <td class="numeric" style="color: green">{{ total.fiatOut | currency:item.currency }}</td>
                <td class="numeric" style="color: red">{{ total.btcIn }}</td>
                <td class="numeric" style="color: red">{{ total.fiatIn | currency:item.currency }}</td>
                <td></td>
                </tr>
                <tr ng-if="stateParam">
                  <td>
                    <div class="input-group">
                      <input type="text" class="form-control datepicker" datepicker-popup="{{format}}" ng-model="newBtc.dt" is-open="opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                      <div class="input-group-btn">
                        <button type="button" class="btn btn-info-alt" ng-click="openDatepicker($event)"><i class="fa fa-calendar"></i></button>
                      </div>
                    </div>

                  <td>
                    <input type="text" class="form-control input-medium" placeholder="Description" autofocus="true" ng-model="newBtc.description"/>
                  </td>
                  <td>
                    <input type="text" class="form-control input-medium" placeholder="ID" ng-model="newBtc.customId"/>

                  </td>
                  <td>
                    <input type="text" class="form-control input-medium" placeholder="BTC in" ng-model="newBtc.btcIn"/>

                  </td>
                  <td>
                    <input type="text" class="form-control input-medium" placeholder="Dollar out" ng-model="newBtc.fiatOut"/>
                  </td>
                  <td>
                    <input type="text" class="form-control input-medium" placeholder="BTC out" ng-model="newBtc.btcOut"/>

                  </td>
                  <td>
                    <input type="text" class="form-control input-medium" placeholder="Dollar in" ng-model="newBtc.fiatIn"/>

                  </td>
                  <td class="row">
                    <div class="form-group options">
                      <div>
                        <div class="btn-group">
                          <button class="btn btn-success-alt" ng-click="addBtc()"><i class="fa fa-fw fa-check"></i></button>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>

                <tr ng-repeat="entry in pagedBitcoins">

                  <td>
                    <!-- editable date (text with validation) -->
                                  <span ng-if="stateParam" editable-date="entry.time"  onaftersave="saveXEditEntry(entry)">
                                    <span style="position:absolute;height:40px;padding-left: 15px">
                                        {{ entry.time | jsDate | date: "dd-MMMM-yyyy" }}&nbsp;
                                    </span>
                                  </span>
                                    <span ng-if="!stateParam" style="position:absolute;height:40px;padding-left: 15px">
                                        {{ entry.time | jsDate | date: "dd-MMMM-yyyy" }}&nbsp;
                                    </span>
                  </td>

                  <td class="numeric">
                    <!-- editable description (text with validation) -->
                                  <span ng-if="stateParam" editable-text="entry.description"  onaftersave="saveXEditEntry(entry)">
                                    <span style="width:100%;position:absolute;height:40px;padding-left: 15px">
                                        {{ entry.description }}&nbsp;
                                    </span>
                                  </span>
                                  <span ng-if="!stateParam"style="width:100%;position:absolute;height:40px;padding-left: 15px">
                                        {{ entry.description }}&nbsp;
                                  </span>
                  </td>
                  <td class="numeric">
                    <!-- editable customId (text with validation) -->
                                   <span ng-if="stateParam" editable-text="entry.customId"  onaftersave="saveXEditEntry(entry)">
                                    <span style="width:100%;position:absolute;height:40px;padding-left: 15px">
                                        {{ entry.customId }}
                                    </span>
                                  </span>
                                  <span ng-if="!stateParam" style="width:100%;position:absolute;height:40px;padding-left: 15px">
                                        {{ entry.customId }}
                                    </span>
                  </td>
                  <td class="numeric" >
                    <!-- editable credit (text with validation) -->
                                  <span ng-if="stateParam" editable-text="entry.btcIn" onaftersave="saveXEditEntry(entry)">
                                    <span style="width:100%;position:absolute;height:40px;color: green;padding-left: 15px">
                                        <span ng-show="entry.btcIn == 0">
                                        </span>
                                        <span ng-hide="entry.btcIn == 0">
                                            {{ entry.btcIn }}
                                        </span>
                                    </span>
                                  </span>
                                  <span ng-if="!stateParam" style="width:100%;position:absolute;height:40px;color: green;padding-left: 15px">
                                        <span ng-show="entry.btcIn == 0">
                                        </span>
                                        <span ng-hide="entry.btcIn == 0">
                                            {{ entry.btcIn}}
                                        </span>
                                    </span>
                  </td>
                  <td class="numeric">
                    <!-- editable credit tax (text with validation) -->
                                  <span ng-if="stateParam" editable-text="entry.fiatOut"  onaftersave="saveXEditEntry(entry)">
                                    <span style="width:100%;position:absolute;height:40px;color: green;padding-left: 15px">
                                        <span ng-show="entry.fiatOut == 0">
                                        </span>
                                        <span ng-hide="entry.fiatOut == 0">
                                            {{ entry.fiatOut | currency:item.currency }}
                                        </span>
                                    </span>
                                  </span>
                                  <span ng-if="!stateParam" style="width:100%;position:absolute;height:40px;color: green;padding-left: 15px">
                                        <span ng-show="entry.fiatOut == 0">
                                        </span>
                                        <span ng-hide="entry.fiatOut == 0">
                                            {{ entry.fiatOut  | currency:item.currency }}
                                        </span>
                                    </span>
                  </td>
                  <td class="numeric">
                                  <span ng-if="stateParam" editable-text="entry.btcOut"  onaftersave="saveXEditEntry(entry)">
                                    <span style="width:100%;position:absolute;height:40px;color: red;padding-left: 15px">
                                        <span ng-show="entry.btcOut == 0">

                                        </span>
                                        <span ng-hide="entry.btcOut == 0">
                                            {{ entry.btcOut }}
                                        </span>
                                    </span>
                                  </span>
                                  <span ng-if="!stateParam" style="width:100%;position:absolute;height:40px;color: red;padding-left: 15px">
                                        <span ng-show="entry.btcOut == 0">

                                        </span>
                                        <span ng-hide="entry.btcOut == 0">
                                            {{ entry.btcOut }}
                                        </span>
                                    </span>
                  </td>
                  <td class="numeric">
                    <!-- editable debit tax (text with validation) -->
                                  <span ng-if="stateParam" editable-text="entry.fiatIn"  onaftersave="saveXEditEntry(entry)">
                                    <span style="width:100%;position:absolute;height:40px;color: red;padding-left: 15px">
                                        <span ng-show="entry.fiatIn == 0">

                                        </span>
                                        <span ng-hide="entry.fiatIn == 0">
                                            {{ entry.fiatIn | currency:item.currency  }}
                                        </span>
                                    </span>
                                  </span>
                                  <span ng-if="!stateParam" style="width:100%;position:absolute;height:40px;color: red;padding-left: 15px">
                                        <span ng-show="entry.fiatIn == 0">

                                        </span>
                                        <span ng-hide="entry.fiatIn == 0">
                                            {{ entry.fiatIn | currency:item.currency  }}
                                        </span>
                                    </span>
                  </td>

                  <td class="row">
                    <div class="options">
                      <div class="btn-group">
                        <button ng-if="stateParam" data-nodrag class= "btn btn-danger-alt btn-sm" ng-click="deleteBtc(entry)"><i class="fa fa-fw fa-eraser"></i></button>
                      </div>
                    </div>
                  </td>
                </tr>
              </table>
            </div>
            <div class="col-md-6 col-md-offset-5">
              <pagination class="mb5" total-items="totalItems" ng-model="currentPage" current-page="currentPage" num-pages="numPages" max-size="maxSize" class="pagination-sm" boundary-links="true"></pagination>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  <!--<div class="container">-->
    <!--<div class="col-md-12">-->
      <!--<div class="row">-->
        <!--<label>Please add bitcoin amount to track performance...</label>-->
      <!--</div>-->
      <!--<div class="row">-->

        <!--<form class="thing-form">-->

          <!--<div class="col-md-2">-->
            <!--<p class="input-group">-->
              <!--<input type="text" class="form-control" placeholder="Amount" ng-model="newBtc.amount" autofocus>-->
            <!--</p>-->
          <!--</div>-->
          <!--<div class="col-md-3">-->
            <!--<p class="input-group">-->
              <!--<input type="text" class="form-control" placeholder="Purchase Price" ng-model="newBtc.price">-->
            <!--</p>-->
          <!--</div>-->
          <!--<div class="col-md-2">-->
            <!--<select class="form-control input-medium"  ng-model="rate" ng-options="t.$value for t in taxRates"><option></option></select>-->

            <!--<select ui-select2 ng-model="select2" data-placeholder="Select your currency...">-->
              <!--<option value=""></option>-->
              <!--<option value="usd">Us Dollar</option>-->
              <!--<option value="rub">Ruble</option>-->
              <!--<option value="cny">Yen</option>-->
            <!--</select>-->
          <!--</div>-->
          <!--<div class="col-md-3">-->
            <!--<p class="input-group">-->
              <!--<input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="newBtc.dt" is-open="opened" min-date="2009-06-22" max-date="newBtc.dt" datepicker-options="dateOptions" ng-required="true" close-text="Close" />-->
              <!--<span class="input-group-btn">-->
                <!--<button type="button" class="btn btn-default" ng-click="openDatepicker($event)"><i class="glyphicon glyphicon-calendar"></i></button>-->
              <!--</span>-->
            <!--</p>-->
          <!--</div>-->
          <!--<div class="col-md-2">-->
            <!--<p class="input-group">-->
              <!--<button type="submit" class="btn btn-primary" ng-click="addBtc(newBtc)">Add Bitcoin</button>-->
            <!--</p>-->
          <!--</div>-->
        <!--</form>-->
      <!--</div>-->
      <!--&lt;!&ndash;<h3 class="page-header">Last tickdata:</h3>&ndash;&gt;-->
      <!--&lt;!&ndash;<h3 >{{btc.timestamp | date:'yyyy-MM-dd HH:mm:ss Z'}}</h3>&ndash;&gt;-->
      <!--<div class="row">-->
        <!--<div class="col-md-12">-->
          <!--<well>-->
            <!--<h3>Current Btc price:              {{ btc.price.usd }} </h3>-->
            <!--<h3>Cost Average:                   {{ total.dca }} </h3>-->
            <!--<h3>Volume Weighted Average Price:  {{ total.vwap }}</h3>-->
          <!--</well>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="row">-->
        <!--<div class="col-md-12 col-md-offset-4">-->
          <!--<pagination class="mb5" total-items="totalItems" ng-model="currentPage"-->
                      <!--first-text="First"-->
                      <!--previous-text="Previous"-->
                      <!--next-text="Next"-->
                      <!--last-text="Last"-->
                      <!--current-page="currentPage" num-pages="numberOfPages"-->
                      <!--max-size="maxPaginationSize" class="pagination-sm" boundary-links="true" />-->
        <!--</div>-->
        <!--<pre>Page: {{currentPage}} / {{numberOfPages}}</pre>-->
          <!--<table class="table table-striped">-->
            <!--<thead><tr>-->
              <!--<th>Purchase time</th>-->
              <!--<th>Purchase Amount</th>-->
              <!--<th>Purchase Price</th>-->
              <!--<th>Action</th>-->
            <!--</tr>-->
            <!--</thead>-->
            <!--<tbody>-->
            <!--<tr ng-repeat="c in pagedBitcoins | orderBy:'-time'">-->
              <!--<td>{{ c.time | date: 'dd MMMM yyyy HH:mm' }}</td>-->
              <!--<td>{{ c.amount }}</td>-->
              <!--<td>{{ c.price  }}</td>-->
              <!--<td>-->
                <!--&lt;!&ndash;<span class="btn btn-default" ng-click="openSellModal(c)"><i class="fa fa-cog fa-fw"></i></span>&ndash;&gt;-->
                <!--<span class="btn btn-default" ng-click="deleteBtc(c)"><i class="fa fa-eraser fa-fw"></i></span> </td>-->
            <!--</tr>-->
            <!--</tbody>-->
          <!--</table>-->
      <!--</div>-->
      <!--<div ng-include="'components/footer/footer.html'"></div>-->

    <!--</div>-->
  <!--</div>-->
</div>
