
@import 'variables.less';
/* WIDGETS */
.list-justified-container {
  padding: 15px 0;
}
.list-group > li > i {
  margin-right: 10px;
  font-size: 16px;
  color: #eee;
  table-layout: fixed;
}

ul.list-justified {

  display: table;
  width: 100%;
  list-style: none;
  padding: 0;

  > li {
    float: none;
    display: table-cell;
    padding: 10px;
    width: 1%;
    border-right: 1px solid @gray-lighter;
    &:last-child {
      border: none;
    }

    p {
      margin: 0;
    }
  }
}

.widget {
  border-radius: 5px;
  padding: 15px 20px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.widget.style1 h2 {
  font-size: 30px;
}

.widget h2, .widget h3 {
  margin-top: 5px;
  margin-bottom: 0;
}

.widget-text-box {
  padding: 20px;
  border: 1px solid @border-color;
  background: #ffffff;
}

.widget-head-color-box {
  border-radius: 5px 5px 0px 0px;
  margin-top: 10px;

}

.widget .flot-chart {
  height: 100px;
}

/* FLOT CHART  */

.flot-chart {
  display: block;
  height: 200px;
}

.widget .flot-chart.dashboard-chart {
  display: block;
  height: 120px;
  margin-top: 40px;
}

.flot-chart.dashboard-chart {
  display: block;
  height: 180px;
  margin-top: 40px;
}

.flot-chart-content {
  width: 100%;
  height: 100%;
}

.flot-chart-pie-content {
  width: 200px;
  height: 200px;
  margin: auto;
}

.jqstooltip {
  position: absolute;
  display: block;
  left: 0px;
  top: 0px;
  visibility: hidden;
  background: rgb(43, 48, 58);
  background-color: rgba(43, 48, 58, 0.8);
  color: white;
  text-align: left;
  white-space: nowrap;
  z-index: 10000;
  padding: 5px 5px 5px 5px;
  min-height: 22px;
  border-radius: 3px;
}

.jqsfield {
  color: white;
  text-align: left;
}

.h-200 {
  min-height: 200px;
}

.legendLabel {
  padding-left: 5px;
}

.stat-list li:first-child {
  margin-top: 0;
}

.stat-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.stat-percent {
  float: right;
}

.stat-list li {
  margin-top: 15px;
  position: relative;
}


.panel-chat {
  margin-bottom: 20px;
  height: 700px;
  overflow-y: auto;

  .chat-message {
    margin-bottom: 10px;
    position: relative;
    &:last-child {margin-bottom: 0;}

    &:after {
      left: 38px;
      top: 10px;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-right-color: #EEE;
      border-width: 6px;
      margin-top: -4px;
    }

    .chat-contact {
      img {max-width: 40px; border-radius: 50%;}
      float: left;
      margin-right: 10px;
    }
    .chat-text {
      padding: 10px;
      background-color: #eee;
      position: relative;
      overflow: hidden;
      border-radius: @border-radius-base;
    }
    &.me {
      .chat-contact {
        float: right;
        margin-left: 10px;
        margin-right: 0px;
      }
      .chat-text {
        background-color: #ddd;
      }
      &:after {
        border-right-color: transparent;
        border-left-color: #ddd;
        right: 38px;
        left: auto;
      }
    }
  }
}

.chat-primary		{.chat-states(@brand-primary);}
.chat-warning      {.chat-states(@brand-warning);}
.chat-danger       {.chat-states(@brand-danger);}
.chat-success      {.chat-states(@brand-success);}
.chat-info         {.chat-states(@brand-info);}
.chat-inverse      {.chat-states(@brand-inverse);}

// custom colors
.chat-brown        {.chat-states(@brand-brown);}
.chat-indigo       {.chat-states(@brand-indigo);}
.chat-orange       {.chat-states(@brand-orange);}
.chat-sky          {.chat-states(@brand-sky);}
.chat-midnightblue {.chat-states(@brand-midnightblue);}
.chat-magenta      {.chat-states(@brand-magenta);}
.chat-green        {.chat-states(@brand-green);}
.chat-purple       {.chat-states(@brand-purple);}


.chat-states(@chat-color) {
  .chat-text {
    color: #fff !important;
    background-color: @chat-color !important;
  }
  &:after {border-right-color: @chat-color !important;}
  &.me:after {border-left-color: @chat-color !important;}
}

/* Breadcrumb Mod */
#page-heading .breadcrumb {
  line-height: 0.75;
  padding: 20px 20px 0px 20px;
  background: transparent;
}


///* Page Heading */
#page-heading {background: @page-title-color; .clearfix;}
#page-heading h1 {margin: 0;padding: 20px; float: left; font-weight: 300; line-height: 34px; font-weight: 300; font-size: 24px;}
#page-heading .options {display: inline; float: right; position: relative; top: 20px; right: 20px}

// datepicker

input.datepicker + ul, .datepicker {
  th .btn {
    display: block;
    width: 100%;
  }
  table {
    border-collapse: separate;
    border-spacing: 1px;
  }
  .btn-default.btn-info { //default datepicker js has wrong code which we can work around with the magical power of css
    span {color: inherit !important;}
  }
}

input.datepicker + ul {
  right: inherit !important;
  padding: 5px;
}

.datepicker.datepicker-dropdown {
  right: auto;
  padding: 5px;
  td, th {text-align: center;}
  tbody {
    td {
      cursor: pointer;
      border-radius: @border-radius-base;
    }
    td.active {
      background-color: #E9ECF0;
      color: #656B79;
    }
    td.today {
      background-color: @brand-primary;
      color: #fff;
    }
  }
}

.full button span {
  background-color: limegreen;
  border-radius: 32px;
  color: black;
}
.partially button span {
  background-color: orange;
  border-radius: 32px;
  color: black;
}
.select2-container .select2-choice {
  border: 2px solid #dce4ec;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  text-indent: 1px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.select2-container.select2-drop-above .select2-choice {
  border-bottom-color: #dce4ec;
  -webkit-border-radius:0 0 6px 6px;
  -moz-border-radius:0 0 6px 6px;
  border-radius:0 0 6px 6px;
}
.select2-drop {
  margin-top: -2px;
  border: 2px solid #dce4ec;
  border-top: 0;
  -webkit-border-radius:0 0 6px 6px;
  -moz-border-radius:0 0 6px 6px;
  border-radius:0 0 6px 6px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.select2-drop.select2-drop-above {
  margin-top: 2px;
  border-top: 2px solid #dce4ec;
  border-bottom: 0;
  -webkit-border-radius: 6px 6px 0 0;
  -moz-border-radius: 6px 6px 0 0;
  border-radius: 6px 6px 0 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.select2-container .select2-choice div {
  border-left: 2px solid #dce4ec;
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;

  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
.select2-search input {
  height: 30px !important;
  border: 2px solid #dce4ec;
}
.select2-container-active .select2-choice,
.select2-container-active .select2-choices {
  border: 2px solid #dce4ec;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.select2-dropdown-open .select2-choice {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius-bottomleft: 0;
  border-bottom-left-radius: 0;

  -webkit-border-bottom-right-radius: 0;
  -moz-border-radius-bottomright: 0;
  border-bottom-right-radius: 0;
}
.select2-dropdown-open .select2-choice div {
  background: transparent;
  border-left: none;
  filter: none;
}
.select2-results .select2-highlighted {
  background: #3875d7;
  background: #1abc9c;
  color: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.select2-container-multi .select2-choices {
  height: auto !important;
  height: 1%;

  border: 2px solid #dce4ec;
}
.select2-container-multi.select2-container-active .select2-choices {
  border: 2px solid #dce4ec;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
